<footer class="footer-rvs">

    <h1>Thank You</h1>

    <div class="footer-info">
        <div class="">
        <p>Raja Venkatesan</p>
        </div>

        <div class="mobile-contact">
            <span class="material-symbols-outlined">
                mobile
            </span>
            <p>+91 9876543210 </p>
        </div>

        <div class="info-rvs">
            <h5>Info & rvs-consultancy.in</h5>
        </div>
    </div>

    <div class="footer-website">
        <a href="">www.rvs.com</a>
    </div>

</footer>